benchmarks/* linguist-vendored
benchmarks/TOY/* linguist-vendored
benchmarks/ISCAS89/* linguist-vendored
benchmarks/EPFL/* linguist-vendored
benchmarks/fontes18/* linguist-vendored
benchmarks/trindade16/* linguist-vendored
*.v linguist-detectable=false
*.fs linguist-detectable=false
vendors/* linguist-detectable=false
vendors/combinations/* linguist-detectable=false
vendors/graph-coloring/* linguist-detectable=false
vendors/mugen/* linguist-detectable=false
vendors/undirected_graph/* linguist-detectable=false
