[submodule "libs/alice"]
	path = libs/alice
	url = https://github.com/marcelwa/alice.git
[submodule "libs/z3"]
	path = libs/z3
	url = https://github.com/marcelwa/z3.git
[submodule "libs/mockturtle"]
	path = libs/mockturtle
	url = https://github.com/marcelwa/mockturtle.git
