[submodule "libs/alice"]
	path = libs/alice
	url = https://github.com/marcelwa/alice.git
[submodule "libs/mockturtle"]
	path = libs/mockturtle
	url = https://github.com/marcelwa/mockturtle.git
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
