# Design Rule Violations (DRVs)

::::{tab-set}
:sync-group: language

:::{tab-item} C++
:sync: cpp

**Header:** `fiction/verification/design_rule_violations.hpp`

```{doxygenstruct} fiction::verification::gate_level_drv_params
:members:
```

```{doxygenstruct} fiction::verification::gate_level_drv_stats
:members:
```

```{doxygenfunction} fiction::verification::gate_level_drvs

```

:::

:::{tab-item} Python
:sync: python

```{eval-rst}
.. autoclass:: mnt.pyfiction.gate_level_drv_params
   :members:

.. autofunction:: mnt.pyfiction.gate_level_drvs
```

:::

::::

(equiv)=

## Equivalence Checking

::::{tab-set}
:sync-group: language

:::{tab-item} C++
:sync: cpp

**Header:** `fiction/verification/equivalence_checking.hpp`

```{doxygenenum} fiction::verification::eq_type

```

```{doxygenstruct} fiction::verification::equivalence_checking_stats
:members:
```

```{doxygenfunction} fiction::verification::equivalence_checking

```

:::

:::{tab-item} Python
:sync: python

```{eval-rst}
.. autoclass:: mnt.pyfiction.eq_type
   :members:

.. autofunction:: mnt.pyfiction.equivalence_checking
```

:::

::::

## Virtual Miter

::::{tab-set}
:sync-group: language

:::{tab-item} C++
:sync: cpp

**Header:** `fiction/verification/virtual_miter.hpp`

```{doxygenfunction} fiction::verification::virtual_miter

```

:::

::::

```{toctree}
:maxdepth: 1

properties
```
