name: ☂️ • Coverage

on:
  push:
    branches: [ 'main' ]
    paths:
      - '**/*.hpp'
      - '**/*.cpp'
      - '**/*.cmake'
      - '**/CMakeLists.txt'
      - 'libs/**'
      - '.github/workflows/coverage.yml'
      - '!bindings/pyfiction/include/pyfiction/pybind11_mkdoc_docstrings.hpp'
  pull_request:
    branches: [ 'main' ]
    paths:
      - '**/*.hpp'
      - '**/*.cpp'
      - '**/*.cmake'
      - '**/CMakeLists.txt'
      - 'libs/**'
      - '.github/workflows/coverage.yml'
      - '!bindings/pyfiction/include/pyfiction/pybind11_mkdoc_docstrings.hpp'
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  BUILD_TYPE: Debug
  Z3_VERSION: 4.13.0

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [ macos-latest ]
        compiler: [ clang++ ]

    name: Coverage on ${{matrix.os}} with ${{matrix.compiler}}
    runs-on: ${{matrix.os}}

    steps:
      - name: Check out Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.x'

      - name: Setup TBB
        run: brew install tbb

      - name: Setup XCode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "^14.2"

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: '${{matrix.os}}-${{matrix.compiler}}'
          variant: ccache
          save: true
          max-size: 10G


      #      - name: Install pip packages
      #        uses: BSFishy/pip-action@v1
      #        with:
      #          requirements: ${{github.workspace}}/libs/mugen/requirements.txt

      - name: Setup Z3 Solver
        id: z3
        uses: cda-tum/setup-z3@v1
        with:
          version: ${{env.Z3_VERSION}}
          platform: macOS
          architecture: arm64
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Configure CMake
        working-directory: ${{github.workspace}}/build
        run: >
          cmake ${{github.workspace}}
          -DCMAKE_CXX_COMPILER=${{matrix.compiler}}
          -DCMAKE_BUILD_TYPE=$BUILD_TYPE
          -DFICTION_ENABLE_UNITY_BUILD=ON
          -DFICTION_ENABLE_PCH=ON
          -DFICTION_CLI=OFF
          -DFICTION_TEST=ON
          -DFICTION_BENCHMARK=OFF
          -DFICTION_Z3=ON
          -DFICTION_ENABLE_MUGEN=ON
          -DFICTION_PROGRESS_BARS=OFF
          -DFICTION_WARNINGS_AS_ERRORS=OFF
          -DFICTION_ENABLE_COVERAGE=ON
          -DMOCKTURTLE_EXAMPLES=OFF

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . --config $BUILD_TYPE -j4

      - name: Test
        working-directory: ${{github.workspace}}/build

        run: ctest -C $BUILD_TYPE --verbose --output-on-failure --repeat until-pass:3 --parallel 4

      - name: Setup and run lcov
        run: |
          sudo apt-get install lcov
          lcov -t "result" -o lcov.info -c -d ${{github.workspace}}/build/
          lcov -e lcov.info "${{github.workspace}}/include*" -o lcov_filtered.info
          lcov -l lcov_filtered.info

      - name: Upload report to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{github.workspace}}/lcov_filtered.info
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
